@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="error">
    <div>
        <p style="text-align:center;text-align: center;align-self: end;">
            You don't have any reservation for this room.
            <br />
            Call recemption if you already booked a room.
        </p>
        <p style="text-align:center;">
            <a href="tel:23423422411" class="btn btn-lg btn-danger">Call Recemption</a>
        </p>
    </div>       
</div>