@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Benvenuto app hotel mustafà</h2>
    <hb></hb>
    <div>
        <a asp-area="" asp-controller="Room" asp-action="Index">Accedi hai comandi per la stanza</a>
    </div>
</div>
